body
  font-family 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif

.fw2
  font-weight 200

.clearfix
  clear both
  &:before
    clear both
    content: ''
